.icon-no-align svg {
  vertical-align: baseline !important;
}

.btn-less-visible {
  color: var(--gray-2);
}
.btn-less-visible:hover {
  color: var(--gray-1);
}

[class^="n-"] svg {
  vertical-align: baseline !important;
}

.h3-item-name {
  margin: 0 0 0 0.8rem;
}

.fade-opacity {
  transition: opacity 0.1s ease-in-out;
}