@import './base.css';

.icon-no-align svg {
  vertical-align: baseline;
}

.btn-less-visible {
  color: var(--gray-2);
}
.btn-less-visible:hover {
  color: var(--gray-1);
}

.n-dialog svg,
.n-message svg {
  vertical-align: baseline !important;
}

.h3-item-name {
  margin: 0 0 0 0.8rem;
}
